@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #2D2A73;
  --color-accent: #00B8A9;
  --color-gold: #F4C95D;
  --color-alert: #FF6B6B;
  --color-bg-light: #FAFAFA;
  --color-text-dark: #333333;
  --color-muted: #CED4DA;
} 

@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: var(--color-bg-light);
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-[#2D2A73] shadow-lg shadow-[#2D2A73]/5 p-[10px] rounded-md my-1 hover:bg-[#2D2A73]/15 hover:text-[#2D2A73] transition-all duration-200 ease-in-out;
}

.card{
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn{
  @apply flex items-center text-[12px] font-medium text-gray-700 hover:text-[#2D2A73] bg-gray-50 hover:bg-[#2D2A73]/10 px-4 py-1.5 rounded-lg border border-gray-200/50 transition-all duration-200 ease-in-out cursor-pointer;
}

.add-btn{
  @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-[#2D2A73] whitespace-nowrap bg-[#2D2A73]/10 border border-[#2D2A73]/20 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill{
  @apply text-white bg-[#2D2A73];
}